	*{
		margin:0;
		padding:0;
		box-sizing:border-box;
	}
	
	.main_container{
		display:flex;
	justify-content:space-around;
	height:30px;
	margin-top:30px;
	    padding: 0px 63px;}
	
	.drop_one{
	 display:none;
    box-shadow: #0000004f 0px 0px 6px;
    border-radius: 5px;
	}
	
	.sign{
	padding: 10px;

	}
	
	.sign a{
			text-decoration:none;
	color:black}
	
	.setting {
		margin-top:10px;
		border-top:1px solid;
		padding: 10px;
	}
	
	p{
			padding: 10px;
	}
	
	 .p{
			margin-top:10px;
		border-top:1px solid;
	padding: 10px;}
	
	.dropdown_one:hover .drop_one{
		display:block;
		position:absolute;
		left:120px;
		top:77px;

	}
	
	.option{
		display:flex;
	align-items:center;
	    padding: 5px;
    gap: 5px;
	border:none;
	border: none;
    box-shadow: #adafb6 0px 0px 4px;
    border-radius: 3px;
	}
	
	
	.one{
	padding:10px}
	
	.two{
		padding:10px;
	border-top:1px solid;}
		
	.three{
		padding:10px;
	border-top:1px solid;}

	.four{
		padding:10px;
	border-top:1px solid;}	
	
		.drop_two{
			display:none;
    box-shadow: #0000004f 0px 0px 6px;
    border-radius: 5px;
	}
	
		.dropdown_two:hover .drop_two{
		display:block;
		position:absolute;
		left:507px;
        top: 77px;}
		
	.drop_two p{
    display: flex;
    align-items: center;}		
		
	
		.dropdown_three:hover .drop_one{
		display:block;
		position:absolute;
		left: 932px;
		top:77px;

	}
			 .p_2{

	padding: 10px;}
	
			.dropdown_four:hover .drop_two{
		display:block;
		position:absolute;
		left:1291px;
		top:77px;}
		
					.dropdown_five:hover .drop_one{
		display:block;
		position:absolute;
		left:1627px;}
		
		
		